<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/031b937a48.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
        <!--Header-->
        <header class="main-header">
            <div class="header-arriba"></div>
                <img class="logo" src="/images/logo-mercado-liebre - copia - copia.svg">
                <div class="container">
                    <div class="search-bar">
                        <input type="text" placeholder="Buscar productos, marcas y mas...">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>
            <div class="header-abajo">
                <p class="texto">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Compra en cuotas y sin tarjeta de credito.
                </p>
            </div>
            <nav class="navbar-principal">
                <ul class="info-basic">
                    <li><a href="#" target="_blank">Ofertas</a></li>
                    <li><a href="#" target="_blank">Tiendas Oficiales</a></li>
                    <li><a href="#" target="_blank">Vender</a></li>
                    <li><a href="#" target="_blank">Ayuda</a></li>
                </ul>

                <ul class="data-account">
                    <li>
                        <a href="/register" target="_blank">
                            Crea tu cuenta
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/login" target="_blank">
                            Ingresa
                            <i class="fa-regular fa-id-card"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            Mis compras
                            <i class="fa-solid fa-basket-shopping"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="banner">
            <img src="/images/img-home-banner - copia - copia.jpg">
        </section>
        <!--Main-->
        <main>
            <header class="titulos"><h3>Basado en tu última visita</h3></header>

            <section>
                <article class="productos">
                    <img src="/images/img-cafetera-moulinex - copia - copia.jpg" alt="Cafetera Moulinex">

                    <div class="elementos-articulos">
                        <i class="fa-solid fa-truck"></i>

                        <div class="flex">
                            <div class="flex-precio">
                                <p class="precio">$6.770</p>
                            </div>
                            <div class="flex-descuentos">
                                <p class="descuento">40% Off</p>
                            </div>    
                        </div>
                        
                        <div class="container-description">
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </div>
                </article>

                <article class="productos">
                    <img src="/images/img-macbook-pro-2019 - copia.jpg" alt="MacBook Pro">

                    <div class="elementos-articulos">
                        <i class="fa-solid fa-truck"></i>

                        <div class="flex">
                            <div class="flex-precio">
                                <p class="precio">$230.000</p>
                            </div>
                            <div class="flex-descuentos">
                                <p class="descuento">20% Off</p>
                            </div>    
                        </div>

                        <div class="container-description">
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </div>
                </article>

                <article class="productos">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">

                    <div class="elementos-articulos">
                        <i class="fa-solid fa-truck"></i>

                        <div class="flex">
                            <div class="flex-precio">
                                <p class="precio">$70.500</p>
                            </div>
                            <div class="flex-descuentos">
                                <p class="descuento">10% Off</p>
                            </div>    
                        </div>

                        <div class="container-description">
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </div>
                </article>

                <article class="productos">
                    <img src="/images/img-tv-samsung-smart - copia - copia.jpg" alt="SmartTv Samsung 43">

                    <div class="elementos-articulos">
                        <i class="fa-solid fa-truck"></i>

                        <div class="flex">
                            <div class="flex-precio">
                                <p class="precio">$23.200</p>
                            </div>
                            <div class="flex-descuentos">
                                <p class="descuento">5% Off</p>
                            </div>    
                        </div>

                        <div class="container-description">
                            <h4 class="description">SmartTv Samsung 43"</h4>
                        </div>
                    </div>
                </article>
            </section>

            <header class="titulos"><h3>Ofertas</h3></header>

            <section>
                <article class="productos">
                    <img src="/images/img-cafetera-moulinex - copia - copia.jpg" alt="Cafetera Moulinex">

                    <div class="elementos-articulos">
                        <i class="fa-solid fa-truck"></i>

                        <div class="flex">
                            <div class="flex-precio">
                                <p class="precio">$6.770</p>
                            </div>
                            <div class="flex-descuentos">
                                <p class="descuento">40% Off</p>
                            </div>    
                        </div>
                       
                        <div class="container-description">
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </div>
                </article>

                <article class="productos">
                    <img src="/images/img-macbook-pro-2019 - copia.jpg" alt="MacBook Pro">

                    <div class="elementos-articulos">
                        <i class="fa-solid fa-truck"></i>

                        <div class="flex">
                            <div class="flex-precio">
                                <p class="precio">$230.000</p>
                            </div>
                            <div class="flex-descuentos">
                                <p class="descuento">20% Off</p>
                            </div>    
                        </div>

                        <div class="container-description">
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </div>
                </article>

                <article class="productos">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">

                    <div class="elementos-articulos">
                        <i class="fa-solid fa-truck"></i>

                        <div class="flex">
                            <div class="flex-precio">
                                <p class="precio">$70.500</p>
                            </div>
                            <div class="flex-descuentos">
                                <p class="descuento">10% Off</p>
                            </div>    
                        </div>

                        <div class="container-description">
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div> 
                    </div>
                </article>

                <article class="productos">
                    <img src="/images/img-tv-samsung-smart - copia - copia.jpg" alt="SmartTv Samsung 43">

                    <div class="elementos-articulos">
                        <i class="fa-solid fa-truck"></i>

                        <div class="flex">
                            <div class="flex-precio">
                                <p class="precio">$23.200</p>
                            </div>
                            <div class="flex-descuentos">
                                <p class="descuento">5% Off</p>
                            </div>    
                        </div>

                        <div class="container-description">
                            <h4 class="description">SmartTv Samsung 43"</h4>
                        </div>
                    </div>
                </article>
            </section>
        </main>
        <!-- Footer -->
        <footer>
            <div class="footer">
                <section class="payment-options">
                    <p>Pagá con tarjeta o en efectivo. Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    <i class="fa-solid fa-credit-card"></i>
                </section>
                <section class="free-shipping">
                    <p>Envío gratis desde $2.500. Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                    <i class="fa-solid fa-gift"></i>
                </section>
                <section class="security">
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido. </p>
                    <i class="fa-solid fa-shield-halved"></i>
                </section>
                <section class="copyright">
                    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </section>
            </div>
        </footer>
</body>
</html>