<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Ingreso</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <form action="/login" method="POST">
        <label for="usuario">Nombre de usuario:</label>
        <input type="text" id="usuario" name="usuario" required placeholder="Ingrese un e-mail.">

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required placeholder="Ingrese una contraseña.">
        <button type="submit">Iniciar Sesion</button>
    </form>
</body>