<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Mercado Liebre</title>
      <script src="https://kit.fontawesome.com/031b937a48.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="css/login.css">
  </head>
  <body>
      <main>
        <form class="form-login" action="/login" method="POST">
          <h1 class="title-login">Iniciar sesion</h1>
          <div class="input-group">
            <labe>Ingrese su usuario</labe>
            <input type="text" id="usuario" name="usuario" required placeholder="Ingrese su usuario..."/>
          </div>
          <div class="input-group">
            <label>Ingrese su contraseña</label>
            <input type="password" id="contrasena" name="contrasena" required placeholder="Ingrese su contraseña..."/>
          </div>
          <div class="rememberMe">
            <label for="rememberMe">Recordarme</label>
            <input type="checkbox" id="rememberMe" name="rememberMe" />
          </div>
          <div class="option">
            <a href="./register.html">  No tienes cuenta? Registrate </a>
          </div>
          <button type="submit">Iniciar Sesión</button>
        </form>
      </main>
  </body>
</html>