<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registro</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/register.css">
    </head>
    <body>
            <form action="/register" method="POST">
                <div>
                    <label for="name">Nombre y Apellido</label>
                    <input type="text" name="name" id="name" placeholder="Ingrese su nombre y apellido...">
                </div>
                <div>
                    <label for="nickname">Nombre de usuario</label>
                    <input type="text" name="nickname" id="nickname" placeholder="Ingrese un nickname...">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Ingrese un email...">
                </div>
                <div>
                    <label for="birthdate">Fecha de nacimiento</label>
                    <input type="date" min="2000-01-01" max="2022-04-06" name="birthdate" id="birthdate">
                </div>
                <div>
                    <label for="domicilio">Domicilio</label>
                    <input type="text" name="domicilio" id="domicilio" placeholder="Ingrese su domicilio...">
                </div>
                <p>
                    <h3>Perfil de usuario</h3>
                    <label for="comprador">Comprador</label>
                    <input type="radio" name="perfil-usuario" value="Comprador" id="comprador">
                    <label for="vendedor">Vendedor</label>
                    <input type="radio" name="perfil-usuario" value="Vendedor" id="vendedor">
                </p>
                <p>
                    <h3>Intereses</h3>
                    <input type="checkbox" name="electro" id="electro">
                    <label for="electro">Electro</label><br>
                    <input type="checkbox" name="moda" id="moda">
                    <label for="moda">Moda</label><br>
                    <input type="checkbox" name="hogar" id="hogar">
                    <label for="hogar">Hogar</label><br>
                    <input type="checkbox" name="jugueteria" id="jugueteria">
                    <label for="jugueteria">Juguetería</label><br>
                    <input type="checkbox" name="vida-sana" id="vida-sana">
                    <label for="vida-sana">Vida sana</label><br>
                </p>
                <div>
                    <label for="contraseña">Contraseña</label>
                    <input text="password" name="password" id="password" placeholder="Ingrese su contraseña...">
                </div>
                <div>
                    <label for="confirmar">Confirmar contraseña</label>
                    <input text="password" name="password" id="password" placeholder="Confirme su contraseña...">
                </div>
                <button type="submit" value="enviar">
                <a href="views/home.html">Enviar</a>
                </button>
                <button type="reset" value="borrar">Borrar</button>
            </form>
        </header>
    </body>
</html>